In [1]:
import csv
import pandas as pd

In [2]:
df = pd.read_csv('auto_debt.csv', sep=',', 
    encoding='utf-8')
origien = df.MCC_TIPO_ORIGEN
fecha_pago = df.FECHA_PAGO
importe = df.MCC_IMPORTE
cust_id = df.OBN_OBJETO_ID

In [3]:
# simplify: make dataframe piicking a few columns that are interesting to us
my_df = pd.DataFrame({'OBN_OBJETO_ID' : cust_id, 
                  'MCC_TIPO_ORIGEN' : origien,
                 'MCC_IMPORTE' : importe,
                   'FECHA_PAGO' : fecha_pago})
my_df.head()

   FECHA_PAGO  MCC_IMPORTE MCC_TIPO_ORIGEN  OBN_OBJETO_ID
0  01/01/1900        21.00             SEL      2789528.0
1  11/04/2014         0.02             PAO      8280920.0
2  12/11/2015        66.31             PAO      4928087.0
3  24/06/2014        19.02             MAJ      8505200.0
4  01/01/1900        21.84            NULO      7029754.0

In [5]:
# convert the dtype to datetime format, so that we can manipulate it 
my_df['FECHA_PAGO'] = pd.to_datetime(df.FECHA_PAGO, dayfirst=True)

In [6]:
my_df.head()

  FECHA_PAGO  MCC_IMPORTE MCC_TIPO_ORIGEN  OBN_OBJETO_ID
0 1900-01-01        21.00             SEL      2789528.0
1 2014-04-11         0.02             PAO      8280920.0
2 2015-11-12        66.31             PAO      4928087.0
3 2014-06-24        19.02             MAJ      8505200.0
4 1900-01-01        21.84            NULO      7029754.0

In [8]:
# add a new columns called month, year (as strings)
my_df['Month'] = my_df.FECHA_PAGO.dt.month.astype(str)
my_df['Year'] = my_df.FECHA_PAGO.dt.year.astype(str)
my_df.head()

  FECHA_PAGO  MCC_IMPORTE MCC_TIPO_ORIGEN  OBN_OBJETO_ID Month    Year
0 1900-01-01        21.00             SEL      2789528.0   1.0  1900.0
1 2014-04-11         0.02             PAO      8280920.0   4.0  2014.0
2 2015-11-12        66.31             PAO      4928087.0  11.0  2015.0
3 2014-06-24        19.02             MAJ      8505200.0   6.0  2014.0
4 1900-01-01        21.84            NULO      7029754.0   1.0  1900.0

In [9]:
# Group by year
g = my_df.groupby('Year')
g

In [10]:
# Make a special group for 2014
group_2014 = g.get_group('2014.0')
group_2014

     FECHA_PAGO  MCC_IMPORTE MCC_TIPO_ORIGEN  OBN_OBJETO_ID Month    Year
1    2014-04-11         0.02             PAO      8280920.0   4.0  2014.0
3    2014-06-24        19.02             MAJ      8505200.0   6.0  2014.0
6    2014-04-11      1989.72            NULO      8280920.0   4.0  2014.0
7    2014-01-17        35.24            NULO      8424899.0   1.0  2014.0
9    2014-09-05       378.00            NULO      7778202.0   9.0  2014.0
13   2014-06-24       624.52            NULO      8505200.0   6.0  2014.0
20   2014-04-11      1943.40             PAO      8280920.0   4.0  2014.0
21   2014-09-05       378.00             PAO      7778202.0   9.0  2014.0
22   2014-01-17        38.55             PAO      8424899.0   1.0  2014.0
23   2014-06-24       605.50             PAO      8505200.0   6.0  2014.0
26   2014-04-11        46.34            NULO      8280920.0   4.0  2014.0
2961 2014-05-27        10.00             PAO      4287002.0   5.0  2014.0
2962 2014-05-27        10.00             PAO      4287002.0   5.0  2014.0
2974 2014-05-27       714.00            NULO      4287002.0   5.0  2014.0
2976 2014-05-27       714.00             PAO      4287002.0   5.0  2014.0
3858 2014-05-26         0.01             PAO      8942240.0   5.0  2014.0
3859 2014-05-26         8.16             PAO      8942240.0   5.0  2014.0
3860 2014-05-26         8.16             PAO      8942240.0   5.0  2014.0
3872 2014-05-26       582.75            NULO      8942240.0   5.0  2014.0
3874 2014-05-26       582.74             PAO      8942240.0   5.0  2014.0
4199 2014-05-05       703.50            NULO      8482442.0   5.0  2014.0
4200 2014-05-05       703.50             PAO      8482442.0   5.0  2014.0
6730 2014-05-10         0.05             PAO      7424849.0   5.0  2014.0
6731 2014-05-10       808.50            NULO      7424849.0   5.0  2014.0
6734 2014-05-10       727.70             PAO      7424849.0   5.0  2014.0
6735 2014-05-10        80.85            NULO      7424849.0   5.0  2014.0
6850 2014-05-05       399.00            NULO      7244972.0   5.0  2014.0
6851 2014-05-05       399.00             REC      7244972.0   5.0  2014.0
6852 2014-05-05       399.00            NULO      7244972.0   5.0  2014.0
6853 2014-05-05       399.00            NULO      7244972.0   5.0  2014.0
...         ...          ...             ...            ...   ...     ...
8496 2014-11-11        19.00             FAO      7425885.0  11.0  2014.0
8497 2014-03-14       456.75            NULO      8552249.0   3.0  2014.0
8498 2014-03-14       456.75             PAO      8552249.0   3.0  2014.0
8512 2014-12-22         1.61             PAO      8088409.0  12.0  2014.0
8513 2014-12-22         1.62             FAO      8088409.0  12.0  2014.0
8514 2014-12-22        33.60            NULO      8088409.0  12.0  2014.0
8515 2014-12-22         1.62             FAO      8088409.0  12.0  2014.0
8516 2014-12-22         0.01             MAJ      8088409.0  12.0  2014.0
8517 2014-12-22         0.01             MAJ      8088409.0  12.0  2014.0
8518 2014-12-22         1.62             PAO      8088409.0  12.0  2014.0
8519 2014-12-22        33.60             PAO      8088409.0  12.0  2014.0
8520 2014-12-22         0.01             PAO      8088409.0  12.0  2014.0
8527 2014-05-09      1585.60             PAO      8252825.0   5.0  2014.0
8528 2014-05-09         0.01             PSV      8252825.0   5.0  2014.0
8529 2014-05-09         0.01             PSV      8252825.0   5.0  2014.0
8530 2014-05-09      1585.60             PSV      8252825.0   5.0  2014.0
8531 2014-05-09      1585.60             PSV      8252825.0   5.0  2014.0
8532 2014-05-09         0.01             PAO      8252825.0   5.0  2014.0
8533 2014-05-09       189.21            NULO      8252825.0   5.0  2014.0
8534 2014-05-09      1892.10            NULO      8252825.0   5.0  2014.0
8535 2014-05-09       117.28            NULO      8252825.0   5.0  2014.0
9247 2014-05-28       606.90             PAO      7249982.0   5.0  2014.0
9248 2014-05-28       606.90            NULO      7249982.0   5.0  2014.0
9249 2014-05-28         8.50             PAO      7249982.0   5.0  2014.0
9250 2014-05-28         8.50             PAO      7249982.0   5.0  2014.0
9528 2014-01-06       861.00             REC      7475972.0   1.0  2014.0
9529 2014-01-06       861.00            NULO      7475972.0   1.0  2014.0
9530 2014-01-06       861.00            NULO      7475972.0   1.0  2014.0
9531 2014-01-06       861.00            NULO      7475972.0   1.0  2014.0
9539 2014-01-06       861.00             PAO      7475972.0   1.0  2014.0

[425 rows x 6 columns]

In [11]:
group_2014.Month.value_counts()

5.0     212
9.0      48
4.0      36
10.0     26
11.0     26
12.0     21
1.0      16
8.0      13
7.0      12
3.0       9
6.0       6
Name: Month, dtype: int64

In [12]:
month = group_2014.groupby('Month')
month

In [14]:
# Here are the sums for each month in 2014
month.MCC_IMPORTE.sum()

Month
1.0      9098.31
10.0     2438.02
11.0     4354.94
12.0     1159.96
3.0      1061.18
4.0     12542.16
5.0     70525.78
6.0      1349.56
7.0       119.48
8.0      2198.56
9.0     10129.26
Name: MCC_IMPORTE, dtype: float64