# Strange months

In [2]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
import numpy as np
from matplotlib import rc
%matplotlib inline

## Data wrangling:

In [3]:
# importing the data set with FECHA_PAGO as index, parse_date means we are using pandas' datetime function, datefirst adjusts for European date format
df = pd.read_csv('auto_debt.csv', sep=',', encoding='utf-8', index_col='FECHA_PAGO', parse_dates=True, dayfirst=True)
df.dropna(axis='columns', how='all', inplace=True)
# add a new column called "Period" with the year-month format
df['Period'] = df.index.to_period(freq='M')
# We only want origen (PAO)
df = df.copy()[df["MCC_TIPO_ORIGEN"]=="PAO"]
# We only want tipo C (credito)
df = df[df['MCC_TIPO_MOVIMIENTO']=="C"]
# drop unnecessary columns
clean_df = df.drop(['MCC_TIPO_MOVIMIENTO','MCC_FECHA_BAJA','MCC_TIPO_ORIGEN','MCC_CCC_ID','MCC_FECHA_MOVIMIENTO','OBN_PERIODO','OBN_TIPO_OBJETO_ID','OBN_OBJETO_ID','FECHA_PROCESO','OBJETO'], axis=1)
# git rid of this annoying decimal in the name of the cuotas
clean_df['OBN_CUOTA'] = clean_df.OBN_CUOTA.astype(int)
clean_df.head(4)

                      MCC_OBN_ID  MCC_IMPORTE  OBN_CUOTA  Period
FECHA_PAGO
2014-04-11  20130000000017880233      1943.40         10 2014-04
2014-09-05  20130000000016633320       378.00         20 2014-09
2014-01-17  20130000000018676823        38.55         10 2014-01
2014-06-24  20130000000021722038       605.50         20 2014-06

In [4]:
period = clean_df.groupby('Period')
count = period.MCC_IMPORTE.count()
mean = period.MCC_IMPORTE.mean()
median = period.MCC_IMPORTE.median()
ma_x = period.MCC_IMPORTE.max()

In [5]:
# this data frame is just to look at the numbers side by side 
df = pd.DataFrame({'Period' : ['Overall', '2016-04', '2019-04'],
                 'Count' : [1405, 8, 508], 
                  'Mean' : [1600, 17546, 1550],
                 'Median' : [180, 16861, 95],
                  'Max' : [138440, 27497,138440]})

df.set_index('Period', inplace=True)

# Look at the strange numbers here

In [6]:
df

         Count   Mean  Median     Max
Period
Overall   1405   1600     180  138440
2016-04      8  17546   16861   27497
2019-04    508   1550      95  138440

## Pandas Computations

In [7]:
# total payments in the dataset
clean_df.MCC_IMPORTE.count()

1405

In [8]:
# Average overall 
clean_df.MCC_IMPORTE.mean()

1600.8557437722452

In [9]:
# Max value overall
clean_df.MCC_IMPORTE.max()

138440.4

In [10]:
# median value overall
clean_df.MCC_IMPORTE.median()

180.0

In [11]:
# standard deviation overall
clean_df.MCC_IMPORTE.std()

6229.354161071126

## computations by period

In [12]:
period = clean_df.groupby('Period')
period.MCC_IMPORTE.count()

Period
2014-01      6
2014-03      4
2014-04     14
2014-05     68
2014-06      2
2014-07      4
2014-08      4
2014-09     21
2014-10     10
2014-11     10
2014-12      7
2015-01      4
2015-02      4
2015-03      4
2015-04     13
2015-05      6
2015-06     10
2015-07      6
2015-09      4
2015-10     35
2015-11     14
2015-12     19
2016-01      6
2016-03      2
2016-04      8
2016-05      3
2016-06      2
2016-07      3
2016-08     20
2016-10     36
2016-11      5
2016-12     32
2017-01     20
2017-02      4
2017-03      6
2017-04      4
2017-05     21
2017-06      3
2017-08      6
2017-09     46
2017-10     49
2017-11      8
2018-01      2
2018-02     41
2018-03     18
2018-04     11
2018-05     48
2018-06     11
2018-07     20
2018-08     12
2018-09     26
2018-10      8
2018-11     26
2018-12     18
2019-01     12
2019-02      3
2019-03     80
2019-04    508
2019-05      8
Freq: M, Name: MCC_IMPORTE, dtype: int64

In [13]:
# Maximum payments by month
# Here we see that a $138,440.40 payment was made in April 2019. The median payment for that month was $95.43 pesos.

period.MCC_IMPORTE.max()

Period
2014-01       861.00
2014-03       456.75
2014-04      1943.40
2014-05      2308.04
2014-06       605.50
2014-07        30.80
2014-08       525.00
2014-09      1023.80
2014-10       452.07
2014-11       703.50
2014-12       504.19
2015-01       261.00
2015-02       787.50
2015-03      1732.54
2015-04      1323.00
2015-05       425.25
2015-06       519.75
2015-07      3267.60
2015-09       299.25
2015-10       477.75
2015-11       525.00
2015-12       425.23
2016-01       143.37
2016-03        61.43
2016-04     27497.40
2016-05       362.25
2016-06        35.66
2016-07       360.00
2016-08      2835.70
2016-10     13371.40
2016-11       745.50
2016-12       434.66
2017-01      2612.40
2017-02       212.27
2017-03       420.00
2017-04        58.80
2017-05      3045.70
2017-06       476.90
2017-08       230.07
2017-09     25526.90
2017-10     33779.20
2017-11       243.66
2018-01        74.42
2018-02      9643.20
2018-03     31110.80
2018-04       297.91
2018-05      1111.77
2018-06     16342.20
2018-07      1011.12
2018-08       151.20
2018-09       645.00
2018-10       519.75
2018-11     30587.90
2018-12      2169.65
2019-01       158.52
2019-02       476.90
2019-03     32664.80
2019-04    138440.40
2019-05       123.77
Freq: M, Name: MCC_IMPORTE, dtype: float64

In [14]:
period.MCC_IMPORTE.median()

Period
2014-01      684.845
2014-03       27.300
2014-04      414.775
2014-05      273.000
2014-06      327.400
2014-07       12.075
2014-08      221.265
2014-09      189.050
2014-10       19.315
2014-11      120.660
2014-12        2.540
2015-01       11.640
2015-02      207.640
2015-03      261.735
2015-04      165.740
2015-05       93.380
2015-06      167.265
2015-07      273.115
2015-09       81.860
2015-10       43.640
2015-11       62.450
2015-12       40.680
2016-01       60.165
2016-03       51.540
2016-04    16861.250
2016-05      240.530
2016-06       31.450
2016-07      215.640
2016-08     1576.575
2016-10     4156.425
2016-11      337.010
2016-12       73.730
2017-01       49.205
2017-02      211.635
2017-03      333.360
2017-04       42.230
2017-05     1220.800
2017-06      444.480
2017-08      115.200
2017-09      367.500
2017-10      114.010
2017-11       14.080
2018-01       64.650
2018-02     1821.400
2018-03     2607.150
2018-04      216.730
2018-05       26.985
2018-06    10174.150
2018-07      310.040
2018-08       70.865
2018-09       87.590
2018-10      322.395
2018-11      485.515
2018-12     1471.225
2019-01       87.480
2019-02      444.480
2019-03      122.335
2019-04       95.425
2019-05       90.845
Freq: M, Name: MCC_IMPORTE, dtype: float64

In [15]:
period.MCC_IMPORTE.mean()

Period
2014-01      542.440000
2014-03      128.027500
2014-04      433.195714
2014-05      395.888235
2014-06      327.400000
2014-07       14.047500
2014-08      250.337500
2014-09      208.778571
2014-10      114.097000
2014-11      196.961000
2014-12       79.942857
2015-01       71.172500
2015-02      321.370000
2015-03      565.815000
2015-04      249.715385
2015-05      157.556667
2015-06      239.159000
2015-07      869.346667
2015-09      116.710000
2015-10       77.994286
2015-11      161.877143
2015-12      107.320526
2016-01       70.136667
2016-03       51.540000
2016-04    17546.900000
2016-05      212.780000
2016-06       31.450000
2016-07      203.313333
2016-08     1556.453000
2016-10     4968.522222
2016-11      412.546000
2016-12      115.575000
2017-01      536.583000
2017-02      205.285000
2017-03      301.933333
2017-04       43.602500
2017-05     1153.350000
2017-06      371.006667
2017-08      116.365000
2017-09     4495.508913
2017-10     3454.274082
2017-11       45.877500
2018-01       64.650000
2018-02     2294.471220
2018-03     6938.672222
2018-04      170.140000
2018-05      148.542708
2018-06     8378.595455
2018-07      334.053000
2018-08       80.459167
2018-09      167.666538
2018-10      326.426250
2018-11     5504.970000
2018-12     1586.491667
2019-01       93.916667
2019-02      371.006667
2019-03     1352.865375
2019-04     1550.813740
2019-05       92.555000
Freq: M, Name: MCC_IMPORTE, dtype: float64

In [16]:
period.MCC_IMPORTE.std()

Period
2014-01     328.930132
2014-03     219.505169
2014-04     484.399451
2014-05     495.453539
2014-06     393.292792
2014-07      14.642066
2014-08     249.271996
2014-09     241.758407
2014-10     166.943222
2014-11     236.199562
2014-12     187.492536
2015-01     126.689967
2015-02     327.089425
2015-03     810.500312
2015-04     344.312075
2015-05     155.472490
2015-06     171.276989
2015-07    1277.102632
2015-09     138.937820
2015-10     101.719638
2015-11     163.175419
2015-12     149.922260
2016-01      53.280094
2016-03      13.986572
2016-04    6299.215751
2016-05     165.103410
2016-06       5.953839
2016-07     163.199518
2016-08     752.221199
2016-10    2560.287320
2016-11     208.293764
2016-12     102.252761
2017-01     741.789352
2017-02      13.126748
2017-03     108.548052
2017-04      13.400872
2017-05     980.990559
2017-06     156.179592
2017-08      87.901321
2017-09    7119.248611
2017-10    6607.240528
2017-11      81.270902
2018-01      13.816867
2018-02    2174.790872
2018-03    8252.872070
2018-04     107.351961
2018-05     263.329192
2018-06    5752.369323
2018-07     229.653143
2018-08      57.417392
2018-09     187.792618
2018-10     102.210605
2018-11    9891.007682
2018-12     403.650406
2019-01      42.931056
2019-02     156.179592
2019-03    5433.236778
2019-04    8613.902716
2019-05      24.933028
Freq: M, Name: MCC_IMPORTE, dtype: float64