# Strange months

In [2]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
import numpy as np
from matplotlib import rc
%matplotlib inline

## Data wrangling:

In [3]:
# importing the data set with FECHA_PAGO as index, parse_date means we are using pandas' datetime function, datefirst adjusts for European date format
df = pd.read_csv('auto_debt.csv', sep=',', encoding='utf-8', index_col='FECHA_PAGO', parse_dates=True, dayfirst=True)
# put the dates in order
df = df.sort_values('FECHA_PAGO')
# add a new column called "Period" with the year-month format
df['Period'] = df.index.to_period(freq='M')
# We only want origen (PAO)
pao_df = df[df["MCC_TIPO_ORIGEN"]=="PAO"]
# We only want tipo C (credito)
clean_df = pao_df[pao_df['MCC_TIPO_MOVIMIENTO']=="C"]
clean_df

,MCC_OBN_ID,MCC_TIPO_MOVIMIENTO,MCC_IMPORTE,MCC_FECHA_BAJA,MCC_TIPO_ORIGEN,MCC_CCC_ID,MCC_FECHA_MOVIMIENTO,OBN_PERIODO,OBN_CUOTA,OBN_TIPO_OBJETO_ID,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Period
FECHA_PAGO,,,,,,,,,,,,,,,,,,,,,
2014-01-06,20130000000012823022,C,861.00,01/01/1900,PAO,700,06/01/2014,2014.0,0.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-01
2014-01-10,20130000000018770873,C,732.76,01/01/1900,PAO,901,10/01/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-01
2014-01-17,20130000000016323372,C,232.42,01/01/1900,PAO,CAC,17/01/2014,2014.0,20.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-01
2014-01-17,20130000000018676823,C,38.55,01/01/1900,PAO,901,17/01/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-01
2014-01-21,20130000000018768881,C,752.98,01/01/1900,PAO,601,21/01/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-01
2014-01-30,20130000000018781216,C,636.93,01/01/1900,PAO,901,30/01/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-01
2014-03-14,20130000000016231228,C,456.75,01/01/1900,PAO,CAC,14/03/2014,2014.0,20.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-03
2014-03-25,20130000000016122331,C,27.30,01/01/1900,PAO,700,25/03/2014,2014.0,0.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-03
2014-03-25,20130000000016122331,C,0.76,16/08/2017,PAO,130,23/05/2014,2014.0,0.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-03
2014-03-25,20130000000016122331,C,27.30,16/08/2017,PAO,700,23/05/2014,2014.0,0.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-03
2014-04-07,20130000000013808632,C,671.00,01/01/1900,PAO,700,07/04/2014,2014.0,0.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-04-08,20130000000013272301,C,16.10,01/01/1900,PAO,700,08/04/2014,2014.0,0.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-04-10,20130000000017228083,C,0.04,01/01/1900,PAO,030,10/04/2014,2014.0,0.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-04-10,20130000000017228083,C,80.60,01/01/1900,PAO,700,10/04/2014,2014.0,0.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-04-11,20130000000017880233,C,1943.40,01/01/1900,PAO,701,11/04/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-04-15,20130000000016213280,C,446.30,16/08/2017,PAO,701,08/05/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-04-15,20130000000016213280,C,446.30,01/01/1900,PAO,701,15/04/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-04-22,20130000000016800281,C,0.05,23/07/2014,PAO,030,22/04/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-04-22,20130000000016800281,C,414.80,23/07/2014,PAO,701,22/04/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-04-22,20130000000016800281,C,414.75,01/01/1900,PAO,901,22/04/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-04-24,20130000000013827622,C,425.30,01/01/1900,PAO,700,24/04/2014,2014.0,0.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-04-27,20130000000012201022,C,273.00,01/01/1900,PAO,701,27/04/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-04-28,20130000000017223772,C,539.30,01/01/1900,PAO,701,28/04/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-04-30,20130000000016300260,C,393.80,01/01/1900,PAO,701,30/04/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-04
2014-05-05,20130000000012263327,C,179.90,01/01/1900,PAO,701,05/05/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-05
2014-05-05,20130000000012263327,C,0.04,01/01/1900,PAO,030,05/05/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-05
2014-05-05,20130000000016180386,C,399.00,01/01/1900,PAO,701,05/05/2014,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-05
2014-05-05,20130000000017776272,C,703.50,01/01/1900,PAO,700,05/05/2014,2014.0,0.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-05
2014-05-06,20130000000013882288,C,0.04,01/01/1900,PAO,030,06/05/2014,2014.0,0.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-05
2014-05-06,20130000000013882288,C,511.20,01/01/1900,PAO,700,06/05/2014,2014.0,0.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-04-29,20130000000016208333,C,650.15,01/01/1900,PAO,132,29/04/2019,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130000000016208332,C,1234.46,01/01/1900,PAO,136,29/04/2019,2014.0,20.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130030003873221320,C,1019.80,01/01/1900,PAO,136,29/04/2019,2014.0,50.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20170000000030322802,C,208.10,01/01/1900,PAO,CAC,29/04/2019,2014.0,20.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20170000000030322801,C,208.10,01/01/1900,PAO,CAC,29/04/2019,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20170000000030322802,C,350.65,01/01/1900,PAO,130,29/04/2019,2014.0,20.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20170000000030322801,C,376.87,01/01/1900,PAO,130,29/04/2019,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130030003873380316,C,218.37,01/01/1900,PAO,130,17/01/2018,2014.0,50.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130030003873380316,C,218.37,01/01/1900,PAO,130,17/01/2018,2014.0,50.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130000000016061608,C,268.66,01/01/1900,PAO,130,17/01/2018,2014.0,20.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130000000016061608,C,268.66,01/01/1900,PAO,130,17/01/2018,2014.0,20.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130030003873380316,C,189.07,01/01/1900,PAO,CAC,17/01/2018,2014.0,50.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130030003873380316,C,189.07,01/01/1900,PAO,CAC,17/01/2018,2014.0,50.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130000000016061608,C,220.57,01/01/1900,PAO,CAC,17/01/2018,2014.0,20.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130000000016061607,C,191.80,01/01/1900,PAO,136,17/01/2018,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130000000016061607,C,194.56,01/01/1900,PAO,132,17/01/2018,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130000000016061607,C,220.58,01/01/1900,PAO,CAC,17/01/2018,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130000000016061608,C,220.57,01/01/1900,PAO,CAC,17/01/2018,2014.0,20.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130000000022330222,C,38.50,01/01/1900,PAO,CAC,29/04/2019,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130030003873213138,C,155.79,01/01/1900,PAO,CAC,20/12/2016,2014.0,50.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130030003873213138,C,118.72,01/01/1900,PAO,130,20/12/2016,2014.0,50.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-04-29,20130000000022330222,C,69.72,01/01/1900,PAO,130,29/04/2019,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04
2019-05-02,20130000000013872702,C,82.87,01/01/1900,PAO,130,22/08/2018,2014.0,20.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-05
2019-05-02,20130000000012376726,C,83.05,01/01/1900,PAO,130,19/07/2016,2014.0,20.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-05
2019-05-02,20130000000013872702,C,57.75,01/01/1900,PAO,CAC,22/08/2018,2014.0,20.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-05
2019-05-02,20130030003873378883,C,64.50,01/01/1900,PAO,130,19/07/2016,2014.0,50.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-05
2019-05-02,20130000000012376722,C,123.77,01/01/1900,PAO,CAC,19/07/2016,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-05
2019-05-02,20130000000012376726,C,123.77,01/01/1900,PAO,CAC,19/07/2016,2014.0,20.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-05
2019-05-02,20130030003873378883,C,106.09,01/01/1900,PAO,CAC,19/07/2016,2014.0,50.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-05
2019-05-02,20130000000012376722,C,98.64,01/01/1900,PAO,130,19/07/2016,2014.0,10.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-05

# Look at the strange numbers here

In [4]:
period = clean_df.groupby('Period')
count = period.MCC_IMPORTE.count()
mean = period.MCC_IMPORTE.mean()
median = period.MCC_IMPORTE.median()
ma_x = period.MCC_IMPORTE.max()

In [5]:
# this data frame is just to look at the numbers side by side 
df = pd.DataFrame({'Period' : ['Overall', '2016-04', '2019-04'],
                 'Count' : [1405, 8, 508], 
                  'Mean' : [1600, 17546, 1550],
                 'Median' : [180, 16861, 95],
                  'Max' : [138440, 27497,138440]})

df.set_index('Period', inplace=True)
df

         Count   Mean  Median     Max
Period
Overall   1405   1600     180  138440
2016-04      8  17546   16861   27497
2019-04    508   1550      95  138440

## Calculations

In [6]:
# total payments in the dataset
clean_df.MCC_IMPORTE.count()

1405

In [7]:
# Average overall 
clean_df.MCC_IMPORTE.mean()

1600.8557437722445

In [8]:
clean_df.MCC_IMPORTE.max()

138440.4

In [9]:
clean_df.MCC_IMPORTE.median()

180.0

In [10]:
clean_df.MCC_IMPORTE.std()

6229.354161071131

In [11]:
period = clean_df.groupby('Period')
period.MCC_IMPORTE.count()

Period
2014-01      6
2014-03      4
2014-04     14
2014-05     68
2014-06      2
2014-07      4
2014-08      4
2014-09     21
2014-10     10
2014-11     10
2014-12      7
2015-01      4
2015-02      4
2015-03      4
2015-04     13
2015-05      6
2015-06     10
2015-07      6
2015-09      4
2015-10     35
2015-11     14
2015-12     19
2016-01      6
2016-03      2
2016-04      8
2016-05      3
2016-06      2
2016-07      3
2016-08     20
2016-10     36
2016-11      5
2016-12     32
2017-01     20
2017-02      4
2017-03      6
2017-04      4
2017-05     21
2017-06      3
2017-08      6
2017-09     46
2017-10     49
2017-11      8
2018-01      2
2018-02     41
2018-03     18
2018-04     11
2018-05     48
2018-06     11
2018-07     20
2018-08     12
2018-09     26
2018-10      8
2018-11     26
2018-12     18
2019-01     12
2019-02      3
2019-03     80
2019-04    508
2019-05      8
Freq: M, Name: MCC_IMPORTE, dtype: int64

In [12]:
# Maximum payments by month
# Here we see that a $138,440.40 payment was made in April 2019. The median payment for that month was $95.43 pesos.

period.MCC_IMPORTE.max()

Period
2014-01       861.00
2014-03       456.75
2014-04      1943.40
2014-05      2308.04
2014-06       605.50
2014-07        30.80
2014-08       525.00
2014-09      1023.80
2014-10       452.07
2014-11       703.50
2014-12       504.19
2015-01       261.00
2015-02       787.50
2015-03      1732.54
2015-04      1323.00
2015-05       425.25
2015-06       519.75
2015-07      3267.60
2015-09       299.25
2015-10       477.75
2015-11       525.00
2015-12       425.23
2016-01       143.37
2016-03        61.43
2016-04     27497.40
2016-05       362.25
2016-06        35.66
2016-07       360.00
2016-08      2835.70
2016-10     13371.40
2016-11       745.50
2016-12       434.66
2017-01      2612.40
2017-02       212.27
2017-03       420.00
2017-04        58.80
2017-05      3045.70
2017-06       476.90
2017-08       230.07
2017-09     25526.90
2017-10     33779.20
2017-11       243.66
2018-01        74.42
2018-02      9643.20
2018-03     31110.80
2018-04       297.91
2018-05      1111.77
2018-06     16342.20
2018-07      1011.12
2018-08       151.20
2018-09       645.00
2018-10       519.75
2018-11     30587.90
2018-12      2169.65
2019-01       158.52
2019-02       476.90
2019-03     32664.80
2019-04    138440.40
2019-05       123.77
Freq: M, Name: MCC_IMPORTE, dtype: float64

In [13]:
period.MCC_IMPORTE.median()

Period
2014-01      684.845
2014-03       27.300
2014-04      414.775
2014-05      273.000
2014-06      327.400
2014-07       12.075
2014-08      221.265
2014-09      189.050
2014-10       19.315
2014-11      120.660
2014-12        2.540
2015-01       11.640
2015-02      207.640
2015-03      261.735
2015-04      165.740
2015-05       93.380
2015-06      167.265
2015-07      273.115
2015-09       81.860
2015-10       43.640
2015-11       62.450
2015-12       40.680
2016-01       60.165
2016-03       51.540
2016-04    16861.250
2016-05      240.530
2016-06       31.450
2016-07      215.640
2016-08     1576.575
2016-10     4156.425
2016-11      337.010
2016-12       73.730
2017-01       49.205
2017-02      211.635
2017-03      333.360
2017-04       42.230
2017-05     1220.800
2017-06      444.480
2017-08      115.200
2017-09      367.500
2017-10      114.010
2017-11       14.080
2018-01       64.650
2018-02     1821.400
2018-03     2607.150
2018-04      216.730
2018-05       26.985
2018-06    10174.150
2018-07      310.040
2018-08       70.865
2018-09       87.590
2018-10      322.395
2018-11      485.515
2018-12     1471.225
2019-01       87.480
2019-02      444.480
2019-03      122.335
2019-04       95.425
2019-05       90.845
Freq: M, Name: MCC_IMPORTE, dtype: float64

In [14]:
period.MCC_IMPORTE.mean()

Period
2014-01      542.440000
2014-03      128.027500
2014-04      433.195714
2014-05      395.888235
2014-06      327.400000
2014-07       14.047500
2014-08      250.337500
2014-09      208.778571
2014-10      114.097000
2014-11      196.961000
2014-12       79.942857
2015-01       71.172500
2015-02      321.370000
2015-03      565.815000
2015-04      249.715385
2015-05      157.556667
2015-06      239.159000
2015-07      869.346667
2015-09      116.710000
2015-10       77.994286
2015-11      161.877143
2015-12      107.320526
2016-01       70.136667
2016-03       51.540000
2016-04    17546.900000
2016-05      212.780000
2016-06       31.450000
2016-07      203.313333
2016-08     1556.453000
2016-10     4968.522222
2016-11      412.546000
2016-12      115.575000
2017-01      536.583000
2017-02      205.285000
2017-03      301.933333
2017-04       43.602500
2017-05     1153.350000
2017-06      371.006667
2017-08      116.365000
2017-09     4495.508913
2017-10     3454.274082
2017-11       45.877500
2018-01       64.650000
2018-02     2294.471220
2018-03     6938.672222
2018-04      170.140000
2018-05      148.542708
2018-06     8378.595455
2018-07      334.053000
2018-08       80.459167
2018-09      167.666538
2018-10      326.426250
2018-11     5504.970000
2018-12     1586.491667
2019-01       93.916667
2019-02      371.006667
2019-03     1352.865375
2019-04     1550.813740
2019-05       92.555000
Freq: M, Name: MCC_IMPORTE, dtype: float64

In [15]:
period.MCC_IMPORTE.std()

Period
2014-01     328.930132
2014-03     219.505169
2014-04     484.399451
2014-05     495.453539
2014-06     393.292792
2014-07      14.642066
2014-08     249.271996
2014-09     241.758407
2014-10     166.943222
2014-11     236.199562
2014-12     187.492536
2015-01     126.689967
2015-02     327.089425
2015-03     810.500312
2015-04     344.312075
2015-05     155.472490
2015-06     171.276989
2015-07    1277.102632
2015-09     138.937820
2015-10     101.719638
2015-11     163.175419
2015-12     149.922260
2016-01      53.280094
2016-03      13.986572
2016-04    6299.215751
2016-05     165.103410
2016-06       5.953839
2016-07     163.199518
2016-08     752.221199
2016-10    2560.287320
2016-11     208.293764
2016-12     102.252761
2017-01     741.789352
2017-02      13.126748
2017-03     108.548052
2017-04      13.400872
2017-05     980.990559
2017-06     156.179592
2017-08      87.901321
2017-09    7119.248611
2017-10    6607.240528
2017-11      81.270902
2018-01      13.816867
2018-02    2174.790872
2018-03    8252.872070
2018-04     107.351961
2018-05     263.329192
2018-06    5752.369323
2018-07     229.653143
2018-08      57.417392
2018-09     187.792618
2018-10     102.210605
2018-11    9891.007682
2018-12     403.650406
2019-01      42.931056
2019-02     156.179592
2019-03    5433.236778
2019-04    8613.902716
2019-05      24.933028
Freq: M, Name: MCC_IMPORTE, dtype: float64